.aptitudes {
    margin-bottom: 60px;
}

.aptitudes__section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.aptitudes__section-box {
    margin: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 500px;
}

.aptitudes__section-box-card {
    width: 360px;
    height: 40px;
    display: flex;
    border: solid 3px var(--first-color);
    border-radius: 10px;
    background-color: #cac7c7;
    padding-left: 50px;
    margin-bottom: 50px;
}

.aptitudes__section-box-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: absolute;
    top: -20px;
    left: -10px;
    border-radius: 100%;
    border: solid var(--first-color);
}

.aptitudes__section-box-card svg {
    font-size: 40px;
    margin: 16px;
    color: var(--first-color);
}

.aptitudes__section-box-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.aptitudes__section-box-card-text span {
    text-align: center;
}

.aptitudes .roadmap-line {
    bottom: 340px;
}



@media (max-width:420px) {
    .aptitudes__section-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .aptitudes__section-box-card {
        width: 300px;
    }

    .aptitudes__section-box-card-text {
        margin-left: 25px;
        font-size: 14px;
    }
}

@media (max-width:520px) {
    .aptitudes__section-box-card svg {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    .aptitudes__section {
        grid-template-columns: 1fr;
    }
}