.redes {
}
.redes__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;
}
.redes__section-title {
    color: var(--first-color);
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}
.redes__section-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.redes__section-box-icon {
    font-size: 60px;
}



@media (max-width:420px) {
    .redes__section-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .redes__section-box-card {
        width: 300px;
    }

    .redes__section-box-card-text {
        margin-left: 25px;
        font-size: 14px;
    }
}

@media (max-width:520px) {
    .redes__section-box-card svg {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    .redes__section {
        grid-template-columns: 1fr;
    }
}