.conocimientos {
}
.conocimientos__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.conocimientos__section-title {
    color: var(--first-color);
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}
.conocimientos__section-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.conocimientos__section-box-card {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.conocimientos__section-box-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}
.conocimientos__section-box-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--white-color);
}
.conocimientos .roadmap-line {
    bottom: 350px;
}



@media (max-width:420px) {
    
}

@media (max-width:520px) {
    
}
@media (max-width:850px) {
    .conocimientos {
        padding-top: 60px;
    }
    .conocimientos__section-box {
        gap: 80px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .conocimientos__section-box-card-icon {
        font-size: 140px;
    }
}
